[submodule "lib/blocklock-solidity"]
	path = lib/blocklock-solidity
	url = https://github.com/randa-mu/blocklock-solidity
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
